div#background {
    position: absolute;
    width: 100%;
}

div#top-color {    
    height: 55px;
        
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(230,231,232,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e8', GradientType=0 )
}

div#main-color-left {
    position: absolute;
    z-index: -0; 
    height: 47px;
    width: 100%;
    top: 50px;
    
    background-color: #85b441;
}

span#main-color-right {
    display: inline-block;
    height: 47px;
    width: 50%;
    top: 50px;
    
    background-color: #ff8300;
}

div#search-color {
    position: absolute;
    
    z-index: -0;
    
    width: 100%;
    height: 68px;
    
    background-color: #0083c2;
    
    top: 97px;
}

div#category-color {
    position: absolute;
    top: 165px;
        
    width: 100%;
    height: 47px; 
    background-color: #424143;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

nav {
    position: relative;
    Width: 1280px;
    
    margin: 0 auto;
}

/*-------FBT LOGO NAV-------*/

a#fbt-logo-nav {
    position: absolute;
    z-index: 70;
    top: 6px;
    
    background: url(img/logo.png);
    width: 277px;
    height: 171px;
}

/*-------END FBT LOGO NAV-------*/


/*-------TOP ROW -------*/
div#top-row {
    height: 55px;
    
    margin: 0 auto;
    
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(230,231,232,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,231,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e8', GradientType=0 );
}

/*-------TOP ROW INFO -------*/

#top-row-info {
    position: relative;
    top: 45%;
    transform: translateY(-60%);
    
    left: 556px;
    
    color: #6d6e71;
}

span#toy-experts {
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

span#live-chat-icon {
    display: inline-block;
    position: absolute;
    
    background: url(img/livechat.gif) no-repeat center;
    width: 18px;
    height: 16px;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    
    color: #6d6e71;
    text-decoration: none;
    text-transform: uppercase;
}

.top-row-anchor {
    margin-left: 28px;
}

.top-row-email {
    margin-left: 1px;
}

 a.top-row-anchor:hover {
    font-weight: 500;
}

a.top-row-email:hover {
    font-weight: 500;
}

.number {
    position: absolute;
    
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #6d6e71;
    
    top: -4px;
}

span#header-divider {
    border-right:1px solid #0083c2; 
    height:20px;
    margin-right: 13px;
    margin-left: 11px;
}

/*-------TOP ROW INFO END -------*/

/*-------TOP ROW CART TAB -------*/

div#cart-tab { 
    position: absolute;
    
    display: inline-block;
    
    margin-left: 1129px;
    
    border-bottom: 48px solid #0083c2;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	height: 0;
	width: 118px;
    
    line-height: 48px;
    
    bottom: 0;
}

div#cart-png {
    padding-left: 15px;
    margin-top: 7px;
    display: inline-block;
    
    background: url(img/cart.png) no-repeat center;
    width: 40px;
    height: 28px;
}

#cart-tab a{
    position: absolute;
    margin-left: 4px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    
    line-height: 44px;
    
    color: white;
    
    text-decoration: none;
}

#cart-tab a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    
    color: white;
}
/*-------TOP ROW CART TAB END -------*/
/*-------TOP ROW GENERAL END -------*/

/*-------MAIN NAV GENERAL-------*/

ul#main-nav {
    position: absolute;
    margin: 0 auto;
    top: 50px;
    
    height: 47px;
}

#main-nav li{
    display: inline-block;
}

#main-nav a {
    display: inline-block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#main-nav a#spacer-right {
    z-index: 60;
    background-color: #ff8300;
    width: 335px;
    height: 59px;
    
    top: 0px;
}

#main-nav a#main-1 {
    z-index: 60;
    background: url(img/1.png) no-repeat center;
    width: 147px;
    height: 90px;
    
    left: 315px;
    
    top: -1px;
}

#main-nav a#main-2 {
    z-index: 55;
    background: url(img/2.png) no-repeat center;
    width: 165px;
    height: 95px;
    
    left: 452px;
    
    top: -6px;
}

#main-nav a#main-3 {
    z-index: 50;
    background: url(img/3.png) no-repeat center;
    width: 165px;
    height: 93px;
    
    left: 606px;
    
    top: -4px;
}

#main-nav a#main-4 {
    z-index: 45;
    background: url(img/4.png) no-repeat center;
    width: 184px;
    height: 87px;
    
    left: 761px;
    
    top: 2px;
}

#main-nav a#main-5 {
    z-index: 40;
    background: url(img/5.png) no-repeat center;
    width: 188px;
    height: 93px;
    
    left: 925px;
    
    top: -4px;
}

#main-nav a#main-6 {
    z-index: 35;
    background: url(img/6.png) no-repeat center;
    width: 188px;
    height: 90px;
    
    left: 1089px;
    
    top: -1px;
}

#main-nav a#main-1:hover,
#main-nav a#main-4:hover,
#main-nav a#main-5:hover {
    top: -10px;
}

#main-nav a#main-2:hover, 
#main-nav a#main-3:hover,
#main-nav a#main-6:hover {
    top: -14px;
}

#main-nav a#spacer-left {
    z-index: 30;
    background-color: #85b441;
    width: 10px;
    height: 59px;
    left: 1270px;
        
    top: 0px;
}

/*-------END MAIN NAV GENERAL-------*/


/*-------SEARCH ROW -------*/

div#search-row {
    position: absolute;
    
    z-index: 60;
    
    width: 1280px;
    height: 68px;
    
    background-color: #0083c2;
    
    top: 97px;
}

/*------- SEARCH FIELD AREA -------*/

span#search-fun {
    position: relative;
    top: 38%;    
    margin-left: 288px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    
    color: white;
}

div#search-field {
    position: absolute; 
    
    margin-left: 427px;
    
    width: 362px;
    height: 35px;
    
    border: 0px solid;
    border-radius: 6px;
    
    background-color: white;
}

/*------- END SEARCH FIELD AREA -------*/

/*-------GIFT BOT TAB -------*/

a#gift-bot {
    position: absolute;
    
    margin-left: 445px;
    padding-left: 23px;
    
    border-bottom: 47px solid #ff8300;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	height: 0;
	width: 137px;
    
    bottom: 0;
    
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 48px
}

a#gift-bot:hover {
    color: #e6e7e8;
}

a#gift-bot span {
    position: absolute;
    background: url(img/robot_1.png) no-repeat center;
    width: 100px;
    height: 100px;
    
    margin-left: -5px;
    margin-top: -32px;
}

a#gift-bot:hover span{
    position: absolute;
    background: url(img/robot_2.png) no-repeat center;
    width: 100px;
    height: 100px;
    
    margin-left: -5px;
    margin-top: -32px;
}

/*-------END GIFT BOT TAB -------*/

/*-------INVENTED HERE TAB -------*/
a#invented-here {
    position: absolute;
    
    margin-left: 643px;
    padding-left: 20px;
    
    border-bottom: 47px solid #ff8300;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	height: 0;
	width: 177px;
    
    bottom: 0;
    
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 48px;
}

a#invented-here:hover {
    color: #e6e7e8;
}

a#invented-here span {
    position: absolute;
    background: url(img/pin_1.png) no-repeat center;
    width: 73px;
    height: 73px;
    
    margin-left: -5px;
    margin-top: -20px;
}

a#invented-here:hover span{
    position: absolute;
    background: url(img/pin_2.png) no-repeat center;
    width: 73px;
    height: 73px;
    
    margin-left: -5px;
    margin-top: -20px;
}
/*-------END INVENTED HERE TAB -------*/

/*------- CATEGORY NAV -------*/

ul#category-nav {
    position: absolute;
    margin: 0 auto;
    top: 165px;
        
    width: 1280px;
    height: 47px; 
    background-color: #424143;
}

ul#category-nav li{
    display: inline-block;
    
    height: 47px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
    color: white;   
}

ul#category-nav li a {
    display: block;
    height: 47px;
    
    padding: 0 22px;
    
    text-decoration: none;
    
    color: #d1d2d3;
}

a#category-1 {
    margin-left: 14px;
}

a#category-8 {
    margin-right: 14px;
}

ul#category-nav li a:hover {
    color: #424143;
}

ul#category-nav li:hover {
    background-color: white;
}
/*-------END CATEGORY NAV -------*/

/*-------$3.99 NAV -------*/

a#flat-rate-nav {
    position: absolute;
    top: 212px;
    
    margin-left: 828px;
    
    border-top: 47px solid #ff4338;
	border-left: 16px solid transparent;
	height: 0;
    width: 438px;
    
    font-family: 'Fredoka One', cursive;
    font-size: 31px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

a#flat-rate-nav span {
    position: absolute;
    margin-top: -40px;
    margin-left: 13px;
}

a#flat-rate-nav:hover {
    color: #e6e7e8;
}

/*-------END $3.99 NAV -------*/





























































